# File di log
logs/*.log
*debug*.log
debug_*.log

# File di sistema
.DS_Store
Thumbs.db

# File di ambiente
.env

# Directory di dipendenze
node_modules/
vendor/

# File temporanei
*.tmp
*.temp
*.swp
*.swo
*.new
gitlog_dates.txt

# File di configurazione IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File di cache
*.cache
.sass-cache/

# File di configurazione locali
config.local.php

# File di backup
*.bak
*.backup
*~

# Directory di upload
images/articles/*
images/categories/*
images/logos/*
!images/articles/.gitkeep
!images/categories/.gitkeep
!images/logos/.gitkeep 